$dial_radius: 20em;
$border_width: 2em;

.border {
    width: ($dial_radius + $border_width) * 2;
    height: ($dial_radius + $border_width) * 2;
    border-radius: $dial_radius + $border_width;
    display: flex;
    align-self: center;
    margin: auto;
}

.dial {
    width: $dial_radius * 2;
    height: $dial_radius * 2;
    border-radius: $dial_radius;
    background-color: rgb(0, 0, 32);
    display: flex;
    align-self: center;
    margin: auto;
}