$level_one_font_size: 13px;
$level_two_font_size: 5px;

.main {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: auto;
    padding: auto;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;

    border: 0;
}

@media screen and (max-width: 1000px) {
    .main {
        font-size: $level_one_font_size;
    }
}

@media screen and (max-height: 1000px) {
    .main {
        font-size: $level_one_font_size;
    }
}

@media screen and (max-width: 400px) {
    .main {
        font-size: $level_two_font_size;
    }
}

@media screen and (max-height: 400px) {
    .main {
        font-size: $level_two_font_size;
    }
}